/*block1----------может изменить остальной код*/
 img {
    width: 100%;
    height: 100%;
}
div.div_display_none{
    display: none;
    position:relative;
}
/*block1  END*/
/*block2 ссылку на картинку нужно изменить*/
div._Slider_prev_butt_{
	cursor:pointer;
	width:100px;
	height:100px;
    position: absolute;
}
div._Slider_prev_butt{
width:100%;
	height:100%;
	 background-image: url(prev_button_left.png);
    background-size: 100% 100%;
}

div._Slider_next_butt{
	 background-image: url(next_button_right.png);
    background-size: 100% 100%;
	width:100%;
	height:100%;
}
div._Slider_next_butt_{
	cursor:pointer;
	width:100px;
	height:100px;
	position: absolute;
}
div._Slider_next_butt:hover{
	animation:_Slider_next_button_animation 1s linear infinite;
	
}
div._Slider_prev_butt:hover{
	animation:_Slider_prev_button_animation 1s linear infinite;
	
}
div._Slider_separator_div_prev_next_but{
	height: 100%;
	width:2px;
	 background-color: black;
	 margin-left: 100px;
}
@keyframes _Slider_next_button_animation{
	0%{

		margin-left: 0px;
	}
	100%{
		margin-left: 25px;
	}
}
@keyframes _Slider_prev_button_animation{
	0%{

		margin-left: 0px;
	}
	100%{
		margin-left: -25px;
	}
}
/*block2  END*/
div._Slider_div_inline_block {
    display: inline-block;
    vertical-align: top;
}
div._Slider_main_block_slider{
     overflow: hidden;
      position:relative;    
}

div[id^="_Slider_3_view_block_id"]{
     position:relative;
    top: 0;
}
div._Slider_block_change_slide{
	position:absolute;
	display:none;
}
div._Slider_one_button_change{
	width:30px;
	height:30px;
	background-color:black;
	margin-left:5px;
	margin-top:5px;
	 border-radius: 30px;
	 /*padding-top:5px;
	 padding-left:5px;*/
	border:1px solid white;
	cursor:pointer;
	-webkit-box-sizing:content-box;
}

div._Slider_one_button_change:hover{
	 opacity:.5;
}
div._Slider_one_button_change_curr{
	width:20px;
	height:20px;
	background-color:white;
	margin-left:5px;
	margin-top:5px;
	 border-radius: 20px;
}


div._Slider_next_prev_block{
	border:2px solid black;
	height:100%;
}



div[id^="_Slider_next_prev_block_id"]{
	position:absolute;
	display:none;
	width:205px;
	height:100px;
}
div._Slider_next_prev_block_tr{
	 transform: rotate(90deg);
}
div._Slider_cont_timer{
	background-color:white;
	width:30px;
	height:30px;
	cursor:pointer;
	margin-left:5px;
	margin-top:5px;
	 border-radius: 30px;
	 border:1px solid white;
	 overflow: hidden;
}
div._Slider_cont_timer_true{
	background-image: url(slider_preloader.gif);
    background-size: 100% 100%;
	width:100%;
	height:100%;
	
}
div._Slider_cont_timer_false{
	background-image: url(slider_paus.png);
    background-size: 100% 100%;
	width:100%;
	height:100%;
	
}